
body {
    font-family: 'comic sans ms', Arial, sans-serif;
}
h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}
#header {
    width: 100%;  
}
#logoImg {
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 1400px;
    display: block; /*convert the display of the image into a block image */
    margin-left: auto; /* center the image on the parent div */
    margin-right: auto;
}
#menulist {
    width: 50%;
    margin: auto;
    background-color: #C9A07A;
    margin-top: 0.3%;
}
nav > a {
    color: white;
    text-align: center;
}
a:hover {
	text-decoration: none;
	color: black;
}
#h1Description {
    width: 80%;
    margin: auto;
}
#categories {
    width: 60%;
    margin: auto;
}
.rectangle {
    height: 150px;
    width: 300px;
    background-color: #8E4739;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    color: white
  }
.rectangle > a {
    color: white
}
.rectangle > a:hover {
	text-decoration: none;
	color: black;
}
.textCenter {
    text-align: center;
}
#footer {
    width: 80%;
    margin: auto;
    background-color: black;
}
footer > p {
    color: silver;
}

