
body {
    font-family: 'comic sans ms', Arial, sans-serif;
}
h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}
#header {
    width: 100%;  
}
#logoImg {
    width: 80%;
    height: auto;
    display: block; /*convert the display of the image into a block image */
    margin-left: auto; /* center the image on the parent div */
    margin-right: auto;
}
#menulist {
    width: 80%;
    margin: auto;
    background-color: #C9A07A;
    margin-top: 0.3%;
}
nav {
    text-align: center;
    font-weight: bold;
}
nav > a {
    color: white;
}
body a:hover {
	text-decoration: none;
	color: black;
}
#h1Description {
    width: 80%;
    margin: auto;
}
#categories {
    width: 60%;
    margin: auto;
}
.rectangle {
    height: 120px;
    width: 250px;
    margin:auto;
    background-color: #8E4739;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    color: white
  }
.rectangle a {
    color: #DDD2C6
}
.textCenter {
    text-align: center;
}
#footer {
    width: 80%;
    margin: auto;
    background-color: black;
    color: silver;
}
#findingJob h2, #workpermit h2{
    color: #8E4739;
}
#bodyContent {
    width: 80%;
    margin: auto;
}